    @font-face {
      font-family: 'fb-icon';
      src: url('../font/fontello.eot?66681437');
      src: url('../font/fontello.eot?66681437#iefix') format('embedded-opentype'), url('../font/fontello.woff?66681437') format('woff'), url('../font/fontello.ttf?66681437') format('truetype'), url('../font/fontello.svg?66681437#fontello') format('svg');
      font-weight: normal;
      font-style: normal;
    }